{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% block header %}
			<div class="container">
				<div class="header">
					<div>
						<picture>
							<source type="image/svg+xml" srcset="{{ site.theme.link }}/static/img/svg/logo.svg">
							<img src="{{ site.theme.link }}/static/img/png/logo.png" alt="CompuSys">
						</picture>
					</div>
					<div>{% include "partial/searchbar.twig" %}</div>
					<div>{% include "partial/accountMenu.twig" %}</div>
					<div>{% include "partial/basketMenu.twig" %}</div>
				</div>
				</div>
			</div>
			<nav class="mainNav" role="navigation">
				<div class="container">
				{% include "menu.twig" with {'items': menu.get_items} %}
				</div>
			</nav>
		{% endblock %}

		<div class="banner">
			<div class="container">
				{% include "partial/carosel.twig" %}
			</div>
		</div>

		<div class="container">
		<section id="content" role="main">
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>
		</div>

		{% block footer %}
			<div class="footerBanner">
				<div class="container">
				{% include 'footerBanner.twig' %}
				</div>
			</div>
			<footer id="footer">
				<div class="container">
				{% include 'footer.twig' %}
				</div>
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
	{% include "globaljs.twig" %}
</html>
