{% if menu %}
	<ul>
	{% for item in items %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
		</li>
	{% endfor %}
	</ul>
	{% for item in items %}
	{% if item.children %}
		<div class="subMenu {{ item.title }}">
			<ul>
				{% for child in item.children %}
					<li>
						<a href="{{ child.link }}">{{ child.title }}</a>
						{% if child.children %}
							<ul class="subChild">
								{% for subchild in child.children %}
									<li>
										<a href="{{ subchild.link }}">{{ subchild.title }}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% endfor %}
{% endif %}
